*{
	margin: 0;
	padding: 0;
}
#wrapper{
	width: 1920px;
	height: 3600px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}
.container{
	width: 1183px;
	margin: 0 auto;
}
.header{
	width: 1920px;
	height: 900px;
	background-image:url(../late-night-fishing-4k-vl.png);
}
.header .logo{
	width: 50%;
	height: 162px;
	float: left;
}
.logo h1{
	margin-left: 350px;
	margin-top: 37px;
	color: #fefe8c;
	font-size: 45px;
	letter-spacing:2px;
	cursor:pointer;
	
}
.logo p{
	margin-left: 350px;
	color: #FFFFFF;
	font-size: 17px;
	letter-spacing: 2.5px;
}
.header .menu{
	width: 50%;
	height: 162px;
	float: left;
}
.menu ul{
	list-style: none;
    position:fixed; /*Cho menu cố định 1 vị trí với top và left*/
	
}
.menu ul li{
	float: left;
	margin-left: 90px;
	margin-top: 57px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;

}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu ul li a:hover{
	color: #fefe8c;
/*	transition-duration: 0.2s;*/
}
.header .banner{
	width: 1920px;
	height: 764px;
}
.banleft{
	width: 960px;
	height: 764px;
	float: left;
}
.banright{
	width: 960px;
	height: 764px;
	float: left;
}
.myButton {
	background-color:#fefe8c;
	border-radius:45px;
	display:inline-block;
	cursor:pointer;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	padding:20px 76px;
	text-decoration:none;
	margin-left: 373px;
	margin-top: 373px;
	color: #3e4f7e;
}
.myButton:hover {
	background-color:#130901;
	color:#fefe8c;
	transition-duration: 0.4s;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*.header*/
.content{
	width: 1920px;
	height: 1802px;
	background:#9CD7DE; 
}
.cozyhouse{
	width: 1920px;
	height: 900px;
	background-image:url(../late-night-fishing-5k-vl.png);
}
.cozyleft{
	width: 50%px;
	height: 900px;
	float: left;
}
.cozyright{
	width: 950px;
	height: 900px;
	float: left;
}
.cozyright p{
	margin-left: 210px;
	font-size: 15px;
	margin-top: 200px;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
}
.cozygaugau{
	width: 1920px;
	height: 900px;
	background-image:url(../late-night-fishing-6k-vl.png);
}
.cozygaugau img {
  border-radius: 8px;
}
.cozylulu{
	width: 1920px;
	height: 900px;
	background-image:url(../late-night-fishing-7k-vl.png);
}
.cozylumot{
	width: 960px;
	height: 900px;
	float: left;
}
.cozylunho {
	width: 960px;
	height: 300px;
	margin-left: 340px;
	margin-top:430px;
}
.cozylunho p{
	color: #FFFFFF;
}
.cozyluhai{
	width: 960px;
	height: 900px;
	float: left;
}
.cozyluto {
	width: 960px;
	height: 300px;
	margin-left: 370px;
	margin-top:430px;
}
.cozyluto p{
	color: #FFFFFF;
}